<div class="container-fluid border border-dark pt-4 pb-4 pl-4 pr-4 mt-1 mb-1">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2>NODO</h2>
                </div>
                <div class="card-body" *ngFor = "let node of nodes ">
                    <p class="font-weight-bolder text-monospace"> º) error {{ node.error }} en el nodo {{ node.idNode }}</p>
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" (click) = "getAllNodes()">REFRESH</button>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2>CONEXIÓN</h2>
                </div>
                <div class="card-body">
                    <p class="font-weight-bolder text-monospace">Si el nodo se encuentra de color rojo, es indiciación de que hay fallas al interior del node</p>
                    <p class="font-weight-bolder text-monospace">Si el nodo se encuentra de color blanco, es indiciación de que no hay fallas al interior del node</p>
                    <p class="font-weight-bolder text-monospace">Si el nodo se encuentra de color amarillo, es indiciación de que es un router</p>
                    <p class="font-weight-bolder text-monospace">Si el nodo se encuentra de color violeta, es indiciación de que es un elemento como una impresora?</p>
                </div>
            </div>
        </div>
    </div>
</div>