<div class="container-fluid border border-dark pt-4 pb-4 pl-4 pr-4 mt-1 mb-1">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h2>NODOS</h2>
            </div>
            <div class="row row-cols-2">
                <div class="col">
                    <ul>
                        <h4>ERRORES</h4>
                        <ng-container *ngFor="let node of nodes">
                            <ng-container *ngIf="node.value === -2">
                                <li class="error">Error en el nodo: {{ node.id }}</li>
                            </ng-container>
                        </ng-container>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <ng-container *ngFor="let node of nodes">
                            <h4>nodo: {{ node.id }}</h4>
                            <li class="s">ip: {{node.ip}}</li>
                            <li class="s">mac: {{node.mac}}</li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2>ESPECIFICACIONES</h2>
                </div>
                <div class="card-body">
                    <p class="font-weight-bolder text-monospace" style="background-color:rgb(252, 116, 116);">Si el nodo
                        se encuentra de color rojo, es indiciación de que hay fallas en el nodo</p>
                    <p class="font-weight-bolder text-monospace" style="background-color:rgb(247, 242, 241);">Si el nodo
                        se encuentra de color blanco, es indiciación de que no hay fallas en el nodo</p>
                    <p class="font-weight-bolder text-monospace" style="background-color:rgb(248, 239, 110);">Si el nodo
                        se encuentra de color amarillo, es indiciación de que es un router</p>
                    <p class="font-weight-bolder text-monospace" style="background-color:rgb(206, 111, 250);">Si el nodo
                        se encuentra de color violeta, es indiciación de que es un elemento IoT</p>
                </div>
            </div>
        </div>
    </div>
</div>